<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="CoreHost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <CoreHost.Properties.Settings>
            <setting name="DefaultPort" serializeAs="String">
                <value>null</value>
            </setting>
        </CoreHost.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_CoreService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8888/iTactixCoreService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_CoreService"
                contract="ServiceReference1.CoreService" name="BasicHttpBinding_CoreService" />
        </client>
    </system.serviceModel>
</configuration>
